.header {
  padding: 29px 0;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: flex;
    column-gap: 24px;

    &-link {
      @include fonts(normal, normal, 13px, 15px, 1.4px);
      color: #000;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%) scaleX(0);
        transform-origin: 50% 50%;
        width: 100%;
        height: 1px;
        background-color: #000;
        transition: 0.3s;
      }

      &:hover::after {
        transform: translateX(-50%) scaleX(1);
      }
    }
  }

  &__cart {
    &-link {
      @include fonts(normal, normal, 14px, 16px, 1.4px);
      color: #000;
      text-transform: uppercase;
      transition: 0.2s;
      &:hover {
        color: #A0A0A0;
      }
    }
  }
}